            table {
                width: 600px;
                border-collapse: collapse;
                font-family: Arial, sans-serif;
            }
            th, td {
                border: 1px solid #000;
                padding: 10px;
                text-align: left;
            }
            th {
                background-color: #80ff80;
                font-weight: bold;
            }
            td {
                background-color: #ccffcc;
            }
            h2 {
                font-family: Arial, sans-serif;
            }